<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<app-header> </app-header>

<div class="nav">
    <ul>
        <li><a href="">HOME</a></li>
    </ul>
</div>
<form class="form" name="form">

    <table border=1 width=50% cellspacing="2">
        <tr>
            <td><label for="mean">Mean :</label></td>
        </tr>
        <tr>
            <td>{{mean}}</td>
        </tr>
        <tr>
            <label for="standard Deviation">Standard Deviation :</label>
        </tr>
        <tr>
            <td>{{stdDev}}</td>
        </tr>
    </table>

    <div *ngIf="(loadingFailure)" class="alert alert-danger">Error fetching student record

    </div>

    <h3>Below are the list of all student IDs</h3>
    <p><i>Click to retrieve the survey form data</i></p>

   <div style="padding: 13px;">
        <table border=1 width=50%>
            <tr *ngFor="let student of studentIds; let i = index">
                <td>{{student.studentId}}</td>
                <td>{{student.city}}</td>
                <td>{{student.username}}</td>
                <td>{{student.dos}}</td>
                <td>{{student.email}}</td>
                <td>{{student.gradmonth}}</td>
                <td>{{student.gradyear}}</td>
                <td>{{student.telephone}}</td>
                
            </tr>
        </table>

    </div>

</form>
<app-footer> </app-footer>
